[Unit]
Description=Run Stopan scheduled job profile periodically: %i
Documentation=file:/usr/share/doc/stopan/operations.md

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=10m

[Install]
WantedBy=timers.target
