[Unit]
Description=Run Stopan replication push periodically
Documentation=file:/usr/share/doc/stopan/operations.md

[Timer]
OnCalendar=hourly
Persistent=true
RandomizedDelaySec=10m
Unit=stopan-job@push-replication.service

[Install]
WantedBy=timers.target
