[Unit]
Description=Run Stopan EC push periodically
Documentation=file:/usr/share/doc/stopan/operations.md

[Timer]
OnCalendar=hourly
Persistent=true
RandomizedDelaySec=10m
Unit=stopan-job@push-ec.service

[Install]
WantedBy=timers.target
